.float-left {
    float: left;
    clear: left;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 2px
}

.float-right {
    float: right;
    clear: right;
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 2px
}

body, html {
  height: 100%;
    background-color: #DBF9FF
}

body {
  margin-top: 48px;
  margin-bottom: 48px;
  margin-right: 48px;
  margin-left: 48px;
}

li{
    font-family: Helvetica;
    line-height: 1.6;
}

p{
    font-family: Helvetica;
    line-height: 1.6;
}

h1{
    color:#003366;
    font-family: Helvetica;
}

h2{
    color:#003366;
    font-family: Helvetica;
}

h3{
    color:#003366;
    font-family: Helvetica;
}

/* The side navigation menu */
.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #3893EB; /* Dark Blue*/
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}
    
span{
    font-family: Helvetica;
    color: #06617D;
    background-color: #D5F2F7;
    
}


/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


#main {
  transition: margin-left .5s;
  padding: 20px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

